{
    "check-coverage": true,
    "per-file": true,
    "include": [
        "**/**/*.js"
    ],
    "exclude": [
        "**/**/*.spec.js",
        "**/coverage/"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "cache": false,
    "all": true,
    "report-dir": "./coverage"
}